@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }

  :root.dark {
    --text-color: white;
    --text-secondary-color: #989898;
    --bg-color: #0b0b0be7;
    --bg-color-secondary: #282828;
    --bg-color-tertiary: #576375;
    --bg-color-tertiary-light: #57637557;
    --box-shadow: #f5f5f552;
    --box-shadow-light: #f5f5f510;
    --box-shadow-dark: #00000080;
    --nav-bg-color: #00000080;
    --link-color: gray;
    --nav-background-color: black;
    --gray-color: #232323;
    --bg-modal: #00000071;
    --cool: #00000069;
    --modal: #1f1f1f;
    --done: #002500;
    /* Tooltip */
    --tooltip-text-color: gray;
    --tooltip-background-color: #00000080;
    --progress-done: #008c00;

    /* Tasks */
    --bg-done: #5bff6e34;
    --b-done: #5bff6ec0;
    --b-working-on: #c1c131f1;
    --bg-working-on: #77772169;
    --b-failed: #ed2929e0;
    --bg-neutral: "neutral-800";
  }
  :root {
    --text-color: black;
    --text-secondary-color: #4d4d4d;
    --bg-color: white;
    --bg-color-secondary: lightgray;
    --bg-color-tertiary: #b4cdf0;
    --bg-color-tertiary-light: #57637557;
    --box-shadow: #00000080;
    --box-shadow-light: #0000001a;
    --box-shadow-dark: #00000040;
    --nav-bg-color: transparent;
    --link-color: gray;
    --nav-background-color: white;
    --gray-color: #e7e7e7;
    --bg-modal: #adadad4d;
    --cool: #ffffff90;
    --modal: #ffffff;
    --done: #8ed88e;
    /* Tooltip */
    --tooltip-text-color: black;
    --tooltip-background-color: #00000080;
    --progress-done: #01bf01;

    /* sizes */
    --footer-height: 190px;
    --nav-height: 70px;
    --premium-nav-height: 40px;
    --max-width: 1200px;
    --max-width-content: 900px;
    --max-width-task: 700px;
    --break-point: 900px;
    /* Tooltip */
    --tooltip-margin: 32px;
    --tooltip-arrow-size: 4px;

    /* Tasks */
    --b-done: #12f82dc0;
    --bg-done: #22c93559;
    --b-working-on: #c1c131f1;
    --bg-working-on: #f1f12b85;
    --b-failed: #ed2929e0;
    --bg-neutral: "stone-200";
  }
}
